//faq content style
.featured_content {
    position: relative;

    &.normal_style {
        overflow: hidden;

        .featured_content_shape {
            position: absolute;
            right: 0;
            bottom: 20%;

            @media #{$mobile} {
                display: none;
            }

            @media #{$tab_device} {
                display: none;
            }
        }

        .section_tittle.style_2 {
            margin-bottom: 25px;
        }

        .featured_content_iner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .single_featured_content {
            flex: 43% 0 0;
            margin-top: 33px;
            padding-bottom: 33px;
            border-bottom: 1px solid #e4e0ee;

            @media #{$mobile} {
                flex: 100% 0 0;
                margin-top: 20px;
                padding-bottom: 20px;
            }

            h4 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 23px;
            }

            p {
                color: #7d7d7d;
            }
        }
    }

    &.collaps_style {
        .card-header {
            padding: 29px 0;
            background-color: transparent;
            line-height: 18px;
            border-bottom: 0 solid transparent;

            @media #{$tab} {
                line-height: 30px;
                padding: 26px 0;
            }
        }

        .btn {
            padding: 0;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0em;
            color: #111;
            line-height: 18px;
            display: block;
            width: 100%;
            text-align: left;
            position: relative;
            border: none;
            font-size: 18px;
            line-height: 1.34;
            font-family: $ft_font;
            &:after {
                position: absolute;
                content: "\e622";
                right: 0;
                top: 0;
                font-size: 16px;
                font-family: 'themify';
                @include transform_time(.3s);
                transform: rotate(0);
                color: #111;
                @media #{$tab} {
                    display: none;
                }
            }
            &.collapsed {
                &:after {
                    content: "\e61a";
                    transform: rotate(90deg);
                    color: #7d7d7d;
                }
            }
            @media #{$tab} {
                line-height: 30px;
                text-align: left;
            }

            &.collapsed {
                color: $heading_color;
            }
        }
        .card {
            border: 0px solid transparent;
            border-bottom: 1px solid #e4e0ee;
            color: $base_color;
            @include transform_time(.3s);

            &:first-child {
                .card-header {
                    padding: 0 0 28px;

                }
            }
        }

        .card-body {
            color: #7d7d7d;
            line-height: 30px;
            padding: 20px 0 33px;
            font-size: 16px;
            border-top: 1px solid #eee;

        }
    }
}

.accordion_thumb{
    position: relative;
    z-index: 1;
    @media #{$tab} {
       margin-bottom: 40px;
    }
    .accordion_thumb_shape{
        position: absolute;
        left: -70px;
        top: 50px;
        @media #{$mobile} {
            top: -20px;
            left: 0;
        }
        @media #{$tab_device} {
            left: -7px;
            top: -18px;
        }
    }
}
.gradient_text {
    background-color: transparent;
    background-image: linear-gradient(90deg,#5758df 0%,#f77991 100%);
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
}
.gradient_text_2 {
    background-color: transparent;
    background-image: linear-gradient(90deg,#5758df 31%,#f77991 54%);
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
}
.design_studio_content{
    @media #{$mobile} {
       margin-top: 40px;
    }
    .card{
        background-color: transparent;
        border: 0px solid transparent;
        border-radius: 0;
    }
    .card-body{
        padding: 4px 0 21px;
        font-size: 16px;
        line-height: 1.75;
        
    }
    .card-header{
        padding: 22px 0;
        background-color: transparent;
        border-bottom: 0px solid transparent;
        @media #{$mobile} {
            text-align: left;
        }
        .btn{
            border: 0px solid transparent;
            padding: 0;
            font-size: 24px;
            border-bottom: 2px solid currentColor;
            padding-bottom: 2px;
            color: rgba(255,255,255, 1);
            border-radius: 0;
            @media #{$mobile} {
                text-align: left;
                font-size: 18px;
            }
            &.collapsed{
                color: rgba(255,255,255,.25);
            }
            &:hover{
                color: rgba(255,255,255, 1);
            }
        }
    }
}


.inspirational_creations_bg_img_tab_menu {
    .tab-content{
        height: 700px;
        overflow: hidden;
        @media #{$tab}{
            height: 500px;
        }
    }
    .tab-pane{
        overflow: hidden;
        .tab_img {
            height: 700px;
            transform: scale(1);
            @media #{$tab}{
                height: 500px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &.active{
            .tab_img {
                transform: scale(1.1);
            }
        }
    }
    .tab-content>.tab-pane {
        display: block;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        
        &.active {
            opacity: 1;
        }
    }
    .nav{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        @media #{$tab}{
            overflow: scroll;
        }
        .nav-item{
            flex: 25% 0 0;
            border-right: 1px solid rgba(255,255,255,.3);
            height: 100%;
            position: relative;
            overflow: hidden;
            @media #{$tab}{
                flex: 100% 0 0;
            }
            &:last-child{
                border-right: 0px solid transparent;
            }
            .tab_thumb_content{
                position: relative;
            }
            .fas{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 66px;
                height: 66px;
                line-height: 66px;
                text-align: center;
                border-radius: 50%;
                background: #c18f4e;
                color: #fff;
                font-size: 30px;
                transition: all .3s linear,opacity .3s linear .2s;
                opacity: 1;
                visibility: hidden;
            }
            .nav-link{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 0;
            }
            .title{
                font-size: 34px;
                color: $white;
                padding: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                @media #{$medium_device}{
                    padding: 20px;
                }
            }
            .tab_thumb_content_inner{
                background: #fff;
                padding: 68px 40px 51px;
                transform: translateY(100%);
                transition: all .5s cubic-bezier(0, 0, 0.2, 1);
                visibility: hidden;
                .tab_title{
                    font-size: 34px;
                    font-weight: 300;
                }
                .description{
                    font-size: 16px;
                }
            }
            &:hover{
                .tab_thumb_content_inner{
                    transform: translateY(0%);
                    visibility: visible;
                }
                .fas{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.inspirational_creations_bg_img_tab_menu{
    .nav{
        @media #{$tab}{
            overflow: scroll;
            flex-wrap: inherit;
        }
        .nav-item{
            @media #{$mobile}{
                flex: 100% 0 0;
            }
        }
        .nav-item{
            @media #{$tab_device}{
                flex: 50% 0 0;
            }
        }
    }
}