/********* banner part css here ********/
.banner_section {
    &.banner_bg {
        @include background('../img/home.jpg');
    }
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: flex-end;

    @media #{$mobile} {
        height: 600px;
    }
    .banner_signature{
        position: absolute;
        right: 100px;
        bottom: 146px;
        @media #{$mobile} {
            right: auto;
            bottom: 46px;
            left: 15px;
            img{
                max-width: 100px;
            }
        }
    }
}
.banner_iner {
    margin-bottom: 147px;
    margin-left: 4px;
    @media #{$tab_device} {
        margin-bottom: 100px;
    }
    @media #{$medium_device} {
        margin-bottom: 80px;
    }
    .title {
        font-size: 130px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: .95em;
        color: #fff;

        @media #{$mobile} {
            font-size: 50px;
        }
        @media #{$tab_device} {
            font-size: 60px;
        }
        @media #{$medium_device} {
            font-size: 70px;
        }
        span {
            -webkit-text-stroke-color: #fff;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            -webkit-text-stroke-width: 3px;
            color: #fff;
        }
    }
    .description {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.25em;
        color: #fff;
        margin-top: 25px;
        @media #{$mobile} {
            font-size: 20px;
            margin-top: 20px;
        }
    }

    .cu_btn {
        margin-top: 50px;
        &:hover{
            background-color: $white;
            border: 2px solid #fff;
            color: $heading_color;
        }
        @media #{$mobile} {
            margin-top: 25px;
        }
    }
}

//digital incentive banner css
.digital_incentive_banner {
    .banner_bg_patten {
        background-image: url("../img/billy-bg-pattern-01.png");
        background-position: center center;
        background-repeat: repeat;
        background-size: auto;
        transition: background .3s, border-radius .3s, opacity .3s;
        background-size: auto;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }
    .intro_text{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 50px;
        text-align: center;
        z-index: 99;
        @media #{$tab}{
            text-align: left;
            left: 15px;
        }
        h4{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.3em;
            letter-spacing: 3px;
            color: $white;
            font-family: $cer_font;
        }
        span{
            font-size: 18px;
            font-weight: 600;
            font-style: italic;
            letter-spacing: 1px;
            display: block;
        }
    }
    .border_shape{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        .billey_var_border{
            width: 1px;
            height: 100%;
            background-color: rgb(255 255 255 / .3);
        }
        .billey_hor_border{
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgb(255 255 255 / .3);
            top: 50%;
        }
    }
    &.banner_overlay {
        position: relative;
        z-index: 1;

        &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-image: linear-gradient(-136deg, #ded4db 0%, #f09eed 54%, #94f9ff 115%) !important;
            z-index: -2;
        }
    }

    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center;

    @media #{$mobile} {
        height: 600px;
    }
}

.digital_incentive_banner_content {
    position: relative;
    z-index: 99;
    h2 {
        font-size: 130px;
        font-weight: 700;
        color: $white;
        line-height: 1.07;
        @media #{$mobile} {
            font-size: 50px;
        }
        @media #{$tab_device} {
            font-size: 80px;
        }
        @media #{$medium_device} {
            font-size: 70px;
        }
    }

    p {
        margin-top: 33px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.34em;
        color: #fff;
    }

    .cu_btn {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #111;
        border: 2px solid $white;
        margin-top: 67px;
        &:hover {
            background-color: transparent;
            border: 2px solid $white;
        }
    }
}

.banner_shap {
    position: relative;
    overflow: hidden;
    .scene {
        position: absolute;
    }
    .layer{
        position: relative !important; 
    }
    .banner_shape_1{
        left: 40%;
        top: 35%;
        @media #{$tab_device}{
            left: 35%;
            top: 58%;
        }
        img{
            box-shadow: 0px 20px 30px 0px rgba(0,0,0,.08);
            border-radius: 50%;
        }
    }
    .banner_shape_5{
        right: 26%;
        bottom: 2%;
        z-index: 7;
        @media #{$mobile}{
            right: 4%;
            bottom: 57%;
            z-index: -1;
            max-width: 35%;
        }
        @media #{$tab_device}{
            right: 26%;
            bottom: 28%;
            z-index: -1;
            max-width: 35%;
        }
    }
    .banner_shape_6{
        right: 0%;
        bottom: 15%;
        @media #{$mobile}{
            right: 0%;
            bottom: 73%;
            max-width: 50%;
        }
        @media #{$tab_device}{
            right: -13%;
            bottom: 60%;
            max-width: 50%;
        }
    }
    .banner_shape_4{
        right: 10%;
        bottom: 0%;
        z-index: 9;
        @media #{$tab}{
            right: 2%;
            max-width: 60%;
        }
    }
    .banner_shape_3{
        right: 10%;
        bottom: 10%;
        z-index: 10;
        @media #{$tab}{
            right: -24%;
            bottom: -9%;
            max-width: 50%;
        }
    }
    .banner_shape_2{
        right: 13%;
        bottom: 18%;
        z-index: 11;
        @media #{$tab}{
            display: none;
        }
    }
}

//film production banner
.film_production_banner  {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    &.film_production_bg{
        @include background ("../img/banner_img/home-film-product-hero-bg.jpg");
    }
    .sub_title{
        font-family: $mr_font;
        font-size: 80px;
        font-weight: 400;
        line-height: 1em;
        color: #fdbb39;
        text-transform: capitalize;
        @media #{$mobile}{
            font-size: 35px;
        }
        @media #{$tab_device}{
            font-size: 55px;
        }
        @media #{$medium_device}{
            font-size: 60px;
        }
    }
    h2 {
        font-family: $pf_font;
        font-size: 150px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: 7px;
        color: #fff;
        @media #{$mobile}{
            font-size: 50px;
        }
        @media #{$tab_device}{
            font-size: 100px;
        }
        @media #{$medium_device}{
            font-size: 100px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.32em;
        letter-spacing: 4px;
        color: #f7b500;
        margin-top: 25px;
    }

    .single_client_logo{
        text-align: center;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$mobile}{
            height: 50px;
        }
        img{
            max-width: 105px;
            text-align: center;
            @media #{$tab}{
                max-width: 75px;
            }
        }
    }
    .client_logo_slider{
        margin-top: 30px;
    }
    .mail{
        position: absolute;
        transform: rotate(-90deg);
        left: 19px;
        @media #{$mobile}{
            display: none;
        }
        @media #{$tab_device}{
            left: -60px;
        }
        @media #{$medium_device}{
            left: -30px;
        }
        a{
            font-size: 18px;
            text-transform: lowercase;
            letter-spacing: .9px;
            padding: 5px 0;
            color: #fff;
            display: inline-block;
            border-bottom: 1px solid rgba(255,255,255,.2);
            &:before{
                background-color: #fff;
            }
        }
    }
    .social_icon {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        @media #{$mobile}{
            display: none;
        }
        @media #{$tab_device}{
            right: 15px;
        }
        @media #{$medium_device}{
            right: 30px;
        }
        a {
            color: #fff;
            display: block;
            margin: 12px 0;
            &:hover{
                color: #fdbb39;
            }
        }
    }
}


//digital incentive banner css
.press_agenci_banner{
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center;

    @media #{$mobile} {
        height: 600px;
    }
}
.press_agenci_banner_content {
    position: relative;
    z-index: 99;
    .title {
        font-size: 70px;
        font-weight: 300;
        line-height: 1.32em;
        @media #{$mobile}{
            font-size: 30px;
        }
        @media #{$tab_device}{
            font-size: 52px;
        }
    }
    .description {
        margin-top: 33px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6em;
        @media #{$mobile}{
            font-size: 16px;
        }
    }
    .cu_btn{
        margin-top: 48px;
    }
}
.press_agenci_banner_shap {
    position: relative;
    overflow: hidden;
    .scene {
        position: absolute;
        
    }
    .home_inspirational_shape_01{
        left: 0;
        top: 0;
    }
    .home_inspirational_shape_02{
        right: 0;
        top: 0;
        text-align: right;
    }
    .home_inspirational_shape_03{
        left: 0;
        bottom: 0;
    }
    .home_inspirational_shape_04{
        right: 0;
        bottom: 0;
        text-align: right;
    }
    [class^="home_inspirational_"], [class*=" home_inspirational_"] {
        @media #{$xs_mobile}{
            img{
                max-width: 30%;
            }
        }        
        @media #{$large_mobile}{
            img{
                max-width: 30%;
            }
        }      
        @media #{$tab_device}{
            img{
                max-width: 40%;
            }
        } 
        @media #{$medium_device}{
            img{
                max-width: 50%;
            }
        }
        @media #{$big_screen}{
            img{
                max-width: 70%;
            }
        }
        @media #{$extra_big_screen}{
            img{
                max-width: 80%;
            }
        }
    }
    .layer{
        position: relative !important; 
    }
    .banner_shape_1{
        right: 0%;
        bottom: 5%;    
    }
    .banner_shape_4{
        left: 10%;
        top: -20%;
        z-index: -1;
    }
    .banner_shape_3{
        right: 28%;
        bottom: 6%;
        z-index: 10;
    }
    .banner_shape_2{
        right: 0%;
        top: 25%;
        z-index: 11;
    }
    .banner_shape_5{
        left: -8%;
        bottom: 0%;
        z-index: 11;
        img{
            max-width: 80%;
        }
    }
    [class^="banner_shape_"], [class*="banner_shape_"] {
        @media #{$xs_mobile}{
            display: none;
        }
        @media #{$large_mobile}{
            img{
                max-width: 50%;
            }
        }      
        @media #{$tab_device}{
            img{
                max-width: 40%;
            }
        }
        @media #{$medium_device}{
            img{
                max-width: 50%;
            }
        }
        @media #{$big_screen}{
            img{
                max-width: 70%;
            }
        }
        @media #{$extra_big_screen}{
            img{
                max-width: 80%;
            }
        }
    }
}

//travel agenci banner css
.travel_agenci_banner{
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media #{$mobile}{
        align-items: flex-start;
        padding-top: 175px;
        height: 550px;
    }
    @media #{$tab_device}{
        height: 600px;
        align-items: flex-start;
        padding-top: 175px;
    }
    
    .travel_agenci_banner_slider{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 750px;
        @media #{$mobile}{
            height: 550px;
        }
        @media #{$tab_device}{
            height: 600px;
        }
        
    }
    .travel_agenci_banner_bg {
        height: 800px;
        width: 100%;
        @media #{$mobile}{
            height: 550px;
        }
        @media #{$tab_device}{
            height: 600px;
        }
        &.bg_1{
            @include background ("../img/banner_img/blog-metro-hero-bg.jpg");
        }
        &.bg_2{
            @include background ("../img/banner_img/home-travel-agency-hero-bg.jpg");
        }
        
    }
   .active{
        .travel_agenci_banner_bg {
            transform: scale(1.3);
            -webkit-transition-duration: 20s;
            -o-transition-duration: 20s;
            transition-duration: 20s;
        }
    }

    .travel_agenci_banner_content{
        position: relative;
        z-index: 6;
        .sub_title {
            color: $white;
            margin-bottom: 26px;
            font-weight: 700;
        }
        .title {
            font-size: 90px;
            font-weight: 900;
            line-height: 1.1em;
            color: #fff;
            @media #{$mobile}{
                font-size: 40px;
            }
            @media #{$tab_device}{
                font-size: 60px;
            }
            @media #{$medium_device}{
                font-size: 70px;
            }
            span{
                font-weight: 700;
                font-style: italic;
                color: #fff;
                font-family: $pf_font;
            }
        }
        .cu_btn{
            background-color: #e02020;
            border: 1px solid #e02020;
            margin-top: 37px;
            &:hover{
                background-color: $white;
                border: 1px solid $white;
                color: #e02020;
            }
        }
    }
    .travel_agenci_info{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -115px;
        z-index: 9;
        @media #{$mobile}{
            bottom: -275px;
        }
        .travel_agenci_info_inner{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: $white;
            box-shadow: 0px 30px 40px 0px rgba(0,0,0,.08);
            transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
            padding: 39px 40px 16px;
        }
        .single_additional_info {
            &.style_1{
                position: relative;
                padding-left: 60px;
                @media #{$mobile}{
                    padding-left: 0;
                    text-align: center;
                    margin-bottom: 20px;
                }
                i{
                    font-size: 40px;
                    color: #e02020;
                    position: absolute;
                    left: 0;
                    @media #{$mobile}{
                        position: relative;
                    }
                }
                .title{
                    font-size: 18px;
                    margin-bottom: 0;
                }
                .description{
                    font-size: 15px;
                }
            }
            &.style_2{
                position: relative;
                text-align: right;
                @media #{$mobile}{
                    text-align: center;
                    width: 100%;
                    margin-bottom: 25px;
                }
                @media #{$tab_device}{
                    margin-top: 25px;
                }
                img{
                    font-size: 40px;
                    color: #e02020;
                    position: absolute;
                    right: -10px;
                    top: -15px;
                    @media #{$mobile}{
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
                .title{
                    font-size: 18px;
                    margin-bottom: 0;
                }
                .description{
                    font-size: 30px;
                    font-weight: 700;
                    color: #e02020;
                    margin-top: 8px;
                    @media #{$mobile}{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.cosmetics_launch{
    &.cosmetics_launch_banner_bg{
        @include background ("../img/home-cosmetics-launch-hero-bg.jpg");
    }
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        font-size: 8vw;
        font-weight: 700;
        color: #fff;
    }
    .cu_btn{
        color: $heading_color;
        margin-top: 15px;
        i{
            margin-right: 15px;
            font-size: 13px;
        }
        &:hover{
            background-color: #111;
            border: 2px solid #111;
        }
    }
    .cosmetics_launch_banner_tricker{
        position: absolute;
        left: 100px;
        bottom: 102px;
        @media #{$tab}{
            left: 50px;
            bottom: 50px;
        }
        h4{
            font-size: 20px;
            font-weight: 500;
            line-height: 1.7em;
            color: #fff;
        }
    }
}

//emarketing strategies banner css
.emarketing_banner {
    &.emarketing_overlay {
        position: relative;
        z-index: 1;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-image: linear-gradient(70deg,#5b3ff8 0%,#b282ea 70%);
            z-index: -2;
        }
    }
    position: relative;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    @media #{$tab} {
        min-height: 600px;
        padding: 150px 0;
    }
    .video_popup_area{
        position: relative;
        display: inline-block;
        .play_icon {
            position: absolute; 
            top: 50%;
            transform: translate(-50%,-50%);
            line-height: 1;
            margin-left: 2px;
            z-index: 2;
            width: 90px;
            height: 90px;
            font-size: 90px;
            background: 0 0;
            box-shadow: 0px 2px 30px 0px rgba(42,83,255,.42);
            background: #2a53ff;
            border: 1px solid #2a53ff;
            border-radius: 50%;
            display: inline-block;
            &:after{
                border-left: 0.1333333em solid #fff;
            }
            
            @media #{$tab}{
                right: 0;
                margin: 0 auto;
                text-align: center;
                transform: translateY(-50%);
                left: 0;
            }
        }
        @media #{$tab}{
            font-size: 36px;
        }
    }
}

.emarketing_banner_content {
    position: relative;
    z-index: 99;
    .title {
        font-weight: 400;
        color: $white;
        font-size: 60px;
        line-height: 1.3em;
        font-family: $ft_font;
        @media #{$tab}{
            font-size: 36px;
        }
        @media #{$medium_device}{
            font-size: 35px;
        }
    }

    .description {
        margin-top: 33px;
        font-weight: 300;
        line-height: 1.89em;
        color: rgba(255,255,255,.7);
        @media #{$tab} {
            margin-top: 20px;
        }
        @media #{$medium_device} {
            margin-top: 20px;
        }
    }

    .cu_btn {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #111;
        border: 2px solid $white;
        margin-top: 67px;
        @media #{$tab} {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @media #{$medium_device} {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &:hover {
            background-color: transparent;
            border: 2px solid $white;
        }
    }
}


//travel agenci banner css
.design_studio_banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #111;
        opacity: .5;
        z-index: 1;
        content: "";
    }
    .design_studio_banner_slider{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        backface-visibility: hidden;
        overflow: hidden;
    }
    .description{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.89em;
        color: #fff;
        z-index: 99;
        bottom: 53px;
        overflow: hidden;
        @media #{$mobile}{
            max-width: 80%;
        }
        @media #{$tab_device}{
            max-width: 70%;
        }
    }
    .design_studio_banner_slider{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .design_studio_banner_bg{
            width: 100%;
            height: 100vh;
            transition: transform 11s cubic-bezier(.1,.2,.7,1);
            transform: scale(1);
            backface-visibility: hidden;
            &.bg_1{
                @include background("../img/banner_img/banner_1.jpg");
            }
            &.bg_2{
                @include background("../img/banner_img/banner_2.jpg");
            }
            &.bg_3{
                @include background("../img/banner_img/banner_3.jpg");
            }
            &.bg_4{
                @include background("../img/banner_img/banner_4.jpg");
            }
            &.bg_5{
                @include background("../img/banner_img/banner_5.jpg");
            }
            background-position: 50%;
        }
        .active{
            .design_studio_banner_bg{
                transform: scale(1.3);
            }
        }
    }

    .design_studio_banner_content{
        position: relative;
        z-index: 6;
        text-align: center;
        .sub_title {
            color: $white;
            font-size: 31px;
            font-weight: 600;
            font-style: italic;
            color: #fff;
            font-family: $pf_font;
        }
        .title {
            font-size: 110px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2em;
            color: #fff;
            margin-bottom: 28px;
            @media #{$mobile}{
                font-size: 40px;
            }
            @media #{$tab_device}{
                font-size: 80px;
            }
            @media #{$medium_device}{
                font-size: 80px;
            }
            span{
                font-weight: 700;
                font-style: italic;
                color: #fff;
                font-family: $pf_font;
            }
        }
        .cu_btn{
            background-color: #e02020;
            border: 1px solid #e02020;
            margin-top: 37px;
            &:hover{
                background-color: $white;
                border: 1px solid $white;
                color: #e02020;
            }
        }
    }
}

//portfolio exhibition banner css
.portfolio_exhibition_banner{
    height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media #{$mobile}{
        height: 500px;
    }
    @media #{$tab_device}{
        height: 400px;
    }
    @media #{$medium_device}{
        height: 450px;
    }
    .arrow_down_btn{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 60px;
        text-align: center;
        i{
            font-size: 24px;
            color: #111;
        }
    }
    .title{
        font-size: 60px;
        font-weight: 300;
        line-height: 1.44em;
        @media #{$mobile}{
            font-size: 30px;
        }
        @media #{$tab_device}{
            font-size: 45px;
        }
        @media #{$medium_device}{
            font-size: 45px;
        }
    }
}
//inspirational creations banner css
.inspirational_creations_banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media #{$mobile}{
        min-height: 800px;
        text-align: left;
    }
    &.inspirational_banner_bg{
        @include background('../img/banner_img/home-inspirational-creations-hero-bg.jpg');
    }
    .banner_shape{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 90px;
        svg{
            width: 100%;
            color: $white;
        }
        .elementor-shape-fill {
            fill: #f9f6f2;
        }
    }
}
.inspirational_creations_banner_content{
    text-align: center;
    .sub_title {
        font-size: 28px;
        line-height: 1.29em;
        color: #fff;
        margin-bottom: 20px;
        text-transform: capitalize;
        @media #{$mobile}{
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
    .title {
        font-size: 80px;
        line-height: 1.325em;
        color: #fff;
        margin-bottom: 38px;
        @media #{$mobile}{
            font-size: 35px;
            margin-bottom: 25px;
        }
        @media #{$tab_device}{
            font-size: 58px;
        }
        @media #{$medium_device}{
            font-size: 58px;
        }
    }
    .cu_btn {
        @media #{$mobile}{
            min-width: 210px;
            font-size: 13px;
            i{
                font-size: 10px;
            }
        }
        &.btn_3{
            background-color: #c18f4e;
            border: 1px solid #c18f4e;
            min-width: 210px;
            text-align: center;
            &:hover{
                background-color: $white;
                border: 1px solid $white;
                color: #c18f4e;
            }
        }
        &.btn_5{
            min-width: 210px;
            text-align: center;
            border-color: rgba(255,255,255,.45);
            margin-left: 15px;
            @media #{$mobile}{
                margin-left: 0;
                margin-top: 15px;
            }
            i{
                margin-right: 7px;
                margin-left: 0;
            }
            &:hover{
                background-color: $white;
                border: 1px solid $white;
                color: #c18f4e;
            }
        }
    }
}

.modern_branding_banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media #{$mobile}{
        min-height: 800px;
        text-align: left;
    }
    &.branding_banner_bg{
        @include background ('../img/home-modern-branding-hero-bg-01.jpg');
    }
}
.modern_branding_banner_content{
    .title{
        font-size: 60px;
        line-height: 1.3em;
        color: #fff;
        @media #{$mobile}{
            font-size: 30px;
        }
    }
    .description{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.89em;
        color: rgba(255,255,255,.7);
        margin-top: 25px;
    }
    .dl_link_btn{
        margin: 58px 0 0;
    }
}

//essential banner content css
.modern_branding_video_icon {
    @media #{$tab}{
        margin-top: 30px;
    }
    .video_popup_area{
        display: inline-block;
    }
   .video_popup_area:hover {
        animation: 1s video-bounce-up;
    } 
}

.bounc_effect:hover{
    animation: 1s video-bounce-up;
}
.essential_banner_content{
    position: relative;
    z-index: 2;
    text-align: center;
    .video_popup_area{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .play_icon {
            line-height: 1;
            margin-left: 2px;
            z-index: 2;
            width: 90px;
            height: 90px;
            font-size: 90px;
            background: 0 0;
            background: #ca7c66;
            border: 1px solid #ca7c66;
            border-radius: 50%;
            display: inline-block;
            &:after{
                border-left: 0.1333333em solid #fff;
            }
            
            @media #{$tab}{

            }
        }
        
    }
    .title{
        font-size: 70px;
        font-weight: 700;
        line-height: 1.38em;
        margin-bottom: 22px;
        color: #fff;
        font-family: $cer_font;
        @media #{$mobile}{
            font-size: 30px;
        }
        @media #{$tab_device}{
            font-size: 40px;
        }
        @media #{$medium_device}{
            font-size: 58px;
        }
    }
    .content{
        font-size: 20px;
        color: #fff;
        margin-bottom: 40px;
        @media #{$tab}{
            font-size: 18px;
        }
    }
    .animated_border_btn {
        margin-left: 20px;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.31em;
        letter-spacing: 1px;
        color: #fff;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .23);
        &:before{
            background: rgba(255,255,255,1);
        }
    }
    .video_popup_area{

    }
}
//freelancer project banner css
.freelancer_project_banner{
    padding-top: 200px;
    padding-bottom: 200px;
    @media #{$tab}{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$medium_device}{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.freelancer_project_banner_content{
    .title{
        color: $white;
        line-height: 1.4em;
        @media #{$tab}{
            text-align: center;
            margin-bottom: 40px;
        }
    }
} 
.round_hire_btn{
    font-size: 20px;
    width: 192px;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 40px;
    font-family: $cer_font;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5em;
    text-align: center;
    color: $white;
    margin: 0 auto;
    @media #{$tab}{
        width: 145px;
        height: 145px;
        font-size: 16px;
        padding: 10px;
    }
    &:hover{
        background-color: $white;
        color: $heading_color;
    }
}

//fashion boutique banner slider
.fashion_boutique_banner_slider{
    .swiper-pagination-current {
        color: #fff;
        margin-right: 63px;
        font-size: 30px;
    }
    .swiper-pagination-total {
        color: rgba(255,255,255,.5);
        font-size: 18px;
    }
    .swiper_pagination.swiper-pagination-fraction {
        color: transparent;
        font-size: 30px;
        position: absolute;
        bottom: 100px;
        z-index: 9;
        left: 100px;
        display: flex;
        align-items: center;
        @media #{$mobile}{
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;
            justify-content: center;
        }
        @media #{$tab_device}{
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
        }
    }
    .swiper_nav{
        position: absolute;
        right: 100px;
        bottom: 100px;
        z-index: 9;
        display: flex;
    }
    .swipernext, .swiperprev{
        margin: 0 5px;
        i{
            width: 50px;
            height: 50px;
            color: #fff;
            border-color: rgba(255,255,255,.3);
            border-width: 2px;
            border-style: solid;
            line-height: 47px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .swiper_pagination{
        .swiper-pagination-current{
            position: relative;
            z-index: 1;
            &:after{
                position: absolute;
                content: "";
                left: 27px;
                top: 50%;
                width: 60px;
                height: 1px;
                background-color: #fff;
                transform: translateY(-50%);
            }
        }
    }
}

.fashion_boutique_banner{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fashion_boutique_banner_bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &.bg_1{
        background-image: url(../img/banner_img/home-fashion-boutique-hero-slider-slide-bg-01.jpg);
    }
    &.bg_2{
        background-image: url(../img/banner_img/home-inspirational-creations-hero-bg.jpg);
    }
    &.bg_3{
        background-image: url(../img/banner_img/home-fashion-boutique-hero-slider-slide-bg-01.jpg);
    }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.2);
    -webkit-transition: all 5.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 5.5s cubic-bezier(0, 0, 0.2, 1);
}
.swiper-slide-active{
    .fashion_boutique_banner_bg{
        transform: scale(1);
    }
}
.fashion_boutique_banner_content{
    z-index: 9;
    .title{
        font-size: 80px;
        font-weight: 300;
        line-height: 1.3em;
        color: #fff;
        margin-bottom: 20px;
        @media #{$mobile}{
            font-size: 40px;
        }
        @media #{$tab_device}{
            font-size: 50px;
        }
    }
    .animated_border_btn{
        color: #fff;
        letter-spacing: 1px;
    }
}

//fashion boutique banner slider


//creative agancy banner slider
.creative_agency_banner_slider{
    .swiper-pagination-current {
        color: #fff;
        margin-right: 63px;
        font-size: 30px;
    }
    .swiper-pagination-total {
        color: rgba(255,255,255,.5);
        font-size: 18px;
    }
    .swiper_pagination.swiper-pagination-fraction {
        color: transparent;
        font-size: 30px;
        position: absolute;
        bottom: 73px;
        z-index: 9;
        left: 100px;
        display: flex;
        align-items: center;
        @media #{$mobile}{
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;
            justify-content: center;
        }
        @media #{$tab_device}{
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
        }
    }
    .agancy_banner_intro{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        bottom: 73px;
        z-index: 9;
        .intro_title{
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            span{
                text-transform: capitalize;
                margin-bottom: 12px;
                font-size: 18px;
                font-weight: 600;
                font-style: italic;
                display: block;
            }
        }
    }
    .swiper_nav{
        position: absolute;
        right: 100px;
        bottom: 73px;
        z-index: 9;
        display: flex;
    }
    .swipernext, .swiperprev{
        margin: 0 5px;
        i{
            width: 50px;
            height: 50px;
            color: #fff;
            border-color: rgba(255,255,255,.3);
            border-width: 2px;
            border-style: solid;
            line-height: 47px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .swiper_pagination{
        .swiper-pagination-current{
            position: relative;
            z-index: 1;
            &:after{
                position: absolute;
                content: "";
                left: 27px;
                top: 50%;
                width: 60px;
                height: 1px;
                background-color: #fff;
                transform: translateY(-50%);
            }
        }
    }
    .swiper-slide-active{
        .creative_agency_banner_content{
            .title{
                animation: fadeInUp .6s both .8s;
            }
            .cu_btn {
                animation: fadeInUp .6s both 1s;
            }
        }
    }
}

.creative_agency_banner{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.creative_agency_banner_bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &.bg_1{
        background-image: url(../img/banner_img/creative_agency_banner_01.jpg);
    }
    &.bg_2{
        background-image: url(../img/banner_img/creative_agency_banner_02.jpg);
    }
    &.bg_3{
        background-image: url(../img/banner_img/creative_agency_banner_03.jpg);
    }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.2);
    -webkit-transition: all 5.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 5.5s cubic-bezier(0, 0, 0.2, 1);
}
.swiper-slide-active{
    .creative_agency_banner_bg{
        transform: scale(1);
    }
}
.creative_agency_banner_content{
    z-index: 9;
    .title{
        font-size: 130px;
        font-weight: 700;
        line-height: 1.3em;
        color: #fff;
        margin-bottom: 10px;
        @media #{$mobile}{
            font-size: 40px;
        }
        @media #{$tab_device}{
            font-size: 50px;
        }
    }

}