.map_markar, #map, .style_map, #multi_loaction_map {
    height: 570px;
    width: 100%;
}
.single_location {
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    .location_info{
        padding: 30px;
    }
}

.single_location span {
    position: absolute;
    left: 0;
    font-size: 24px;
    background: -webkit-linear-gradient(235.46deg, #44DA64 8.9%, #1BB2E8 108.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gm-style-iw.gm-style-iw-c {
    min-width: 500px !important;
    overflow: hidden;
    padding: 0;
    max-height: 198px !important;
    @media #{$mobile}{
        min-width: 300px !important;
    }
}
@media #{$mobile}{
    .location_img{
        max-width: 50px;
        img{
            max-width: 100%;
        }
    }
}
.single_location h2 {
    margin: 0 0 5px;
    text-transform: capitalize;
    font-weight: 500;
    color: #2B3332;
    font-size: 20px;
    font-weight: 700;
    font-family: $cer_font;
    @media #{$mobile}{
        font-style: 16px;
    }
}

.single_location p {
    margin: 8px 0 0;
    font-size: 14px;
    color: #7C8887;
    line-height: 1.7;
}
.gm-style .gm-style-iw-c {
    border-radius: 0;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);
}
.gm-ui-hover-effect {
    font-size: 20px;
    top: 0 !important;
    right: 0 !important;
    display: none !important;
}