.faq_content{
    position: relative;
    .title{
        font-weight: 700;
        margin-bottom: 45px;
        span{
            color: #ca7c66;
        }
    }
    &.collaps_style{
        .card-header{
            padding: 31px 0;
            background-color: transparent;
            line-height: 18px;
            border-bottom: 0 solid transparent;
            @media #{$tab}{
                line-height: 30px;
                padding: 26px 0;
            }
        }
        .btn{
            padding: 0;
            font-size: 18px;
            color: $heading_color;
            line-height: 18px;
            display: block;
            width: 100%;
            text-align: left;
            position: relative;
            border: none;
            &:after{
                position: absolute;
                content: "\e622";
                right: 0;
                top: 0;
                font-size: 18px;
                font-family: 'themify';
                @include transform_time(.3s);
                transform: rotate(0);
                color: $heading_color;
                @media #{$xs_mobile}{
                    display: none;
                }
            }
            &.collapsed{
                &:after{
                    content: "\e61a";
                    transform: rotate(90deg);
                    color: #7d7d7d;
                }
            }
            
            @media #{$tab}{
                line-height: 30px;
                text-align: left;
            }
        }
        .card{
            border: 0px solid transparent;
            border-bottom: 1px solid #e4e0ee;
            @include transform_time(.3s);
            &:first-child{
                .card-header{
                    padding: 0 0 28px;
                    
                }
            }
        }
        .card-body{
            color: #7d7d7d;
            line-height: 30px;
            padding: 5px 0 33px;
            font-size: 18px;
            border-top: 1px solid #e4e0ee;
            padding: 22px 0 33px;
            font-size: 16px;
        }
    }
}  
.faq_content_img{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 50px;
    max-width: 50%;
    @media #{$tab}{
        position: relative;
        transform: translateY(0);
        padding-left: 0;
        max-width: 100%;
        margin-bottom: 40px;
        .faq_full_img{
            max-width: 100%;
        }
    }
}

@media #{$tab}{
    .p_md_0{
        padding: 0;
    }
}


.faq_intro{
    position: relative;
    padding: 120px 0 100px;
    overflow: hidden;
    @media #{$mobile}{
        padding: 70px 0;
    }
    text-align: center;
    .faq_intro_1{
        position: absolute;
        left: 0;
        bottom: 60px;
        @media #{$mobile}{
            max-width: 50px;
        }
        @media #{$tab_device}{
            max-width: 150px;
        }
    }
    .faq_intro_2{
        position: absolute;
        right: 0;
        top: 85px;
        @media #{$mobile}{
            max-width: 80px;
        }
        @media #{$tab_device}{
            max-width: 150px;
        }
    }
}


//faq content style
.faq_arrordion{
    position: relative;
    border-top: 1px solid #e4e0ee;
    border-right: 1px solid #e4e0ee;
    border-left: 1px solid #e4e0ee;
    &.collaps_style{
        .card-header{
            padding: 15px 20px;
            padding-right: 50px;
            background-color: transparent;
            line-height: 18px;
            border-bottom: 0 solid transparent;
            @media #{$tab}{
                line-height: 30px;
                padding: 10px 20px;
            }
        }
        .btn{
            padding: 0;
            font-size: 18px;
            font-weight: 500;
            color: $heading_color;
            line-height: 25px;
            display: block;
            width: 100%;
            text-align: left;
            position: relative;
            border: none;
            font-family: $ft_font;
            &:after{
                position: absolute;
                content: "\e622";
                right: -32px;
                top: 0;
                font-size: 15px;
                font-family: 'themify';
                @include transform_time(.3s);
                transform: rotate(0);
                @media #{$tab}{
                    display: none;
                }
            }
            &.collaps_icon_left{
                padding: 0 0 0 25px;
                &:after{
                    right: auto;
                    left: 0;
                }
            }
            &.collapsed{
                &:after{
                    content: "\e61a";
                    transform: rotate(90deg);
                    color: #7d7d7d;
                }
            }
            
            @media #{$tab}{
                line-height: 30px;
                text-align: left;
            }
        }
        .card{
            border: 0px solid transparent;
            border-bottom: 1px solid #e4e0ee;
            color: $base_color;
            @include transform_time(.3s);
            border-radius: 0;
        }
        .card-body{
            color: $text_color;
            line-height: 30px;
            font-size: 16px;
            border-top: 1px solid #e4e0ee;
            font-family: $cer_font;
            span{
                font-weight: 700;
            }
            .des_list{
                margin-top: 20px;
                font-size: 16px;
            }
            a{
                color: $heading_color;
            }
            .list {
                margin: 0;
                padding: 0;
                padding-left: 17px;
                margin-top: 15px;
            }
            .title{
                font-size: 26px;
                margin: 15px 0;
            }
        }
        &.style_2{
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            .card-header{
                padding: 18px 0;
            }
        }
    }
    .collaps_style_content{
        h2{
            margin-bottom: 22px;
        }
    }
}
.faq_des{
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.32em;
    letter-spacing: 0px;
    color: #777;
    .link_animate_border{
        color: #5758e0;
    }
    .link_animate_border:before, .link_animate_border:after {
        height: 1px;
        background: #5758e0;
    }
}
.btn-link:hover {
    text-decoration: none;
}