.dl_single_product_content{
    &.style_1{
        @media #{$tab}{
            margin-top: 50px;
        }
        .wave_divider{
            margin-top: 23px;
            @media #{$tab}{
                margin-top: 15px;
            }
        }
        .description{
            margin-top: 35px;
            @media #{$tab}{
                margin-top: 15px;
            }
        }
        .cu_btn{
            margin: 65px 0 0;
            @media #{$tab}{
                margin: 30px 0 0;
            }
        }
        .heading_title{
            font-size: 15px;
            line-height: 2.14em;
            margin-top: 14px;
            color: #888;
            display: block;
        }
    }
    &.style_2{
        @media #{$tab}{
            margin-bottom: 50px;
        }
        .title{
            margin-top: 23px;
            @media #{$tab}{
                margin-top: 15px;
            }
            span{
                color: #f65e4d;
            }
        }
        .description{
            margin-top: 35px;
            @media #{$tab}{
                margin-top: 15px;
            }
        }
    }
}

.product_title{
    font-size: 34px;
    line-height: 1.31;
    text-align: center;
    margin-bottom: 30px; 
}

//product list css
.dl_single_related_product{
    &.style_1{
        .product_thumb{
            position: relative;
            display: inline-block;
            overflow: hidden;
            .product_front_thumb img, .product_back_thumb img{
                transform: perspective(1px) translateZ(0);
                transition: all 1.5s cubic-bezier(0,0,.2,1);
                width: 100%;
            }
            .product_back_thumb{
                transition: .25s opacity,.25s visibility,transform 1.5s cubic-bezier(0,0,.2,1);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
            }
        }
        .product_thumb_list{
            display: inline-block;
        }
        .product_nav_action{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 99;
            display: flex;
            align-items: center;
            padding: 0 11px 0 20px;
            min-height: 60px;
            background: #111;
            justify-content: space-between;
            opacity: 0;
            visibility: hidden;
            .animated_border{
                color: $white;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:before {
                    background-color: #fff;
                }
            }
            .product_action{
                a{
                    color: $white;
                    margin-right: 15px;
                    font-size: 15px;
                    
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        &:hover{
            .product_thumb{
                .product_front_thumb img {
                    transform: scale3d(1.1,1.1,1.1) translateZ(0);
                }
                .product_back_thumb {
                    z-index: 9;
                    opacity: 1;
                    visibility: visible;
                    transform: scale3d(1.1,1.1,1.1) translateZ(0);
                }
            }
            .product_nav_action{
                opacity: 1;
                visibility: visible;
            }
        }
        
        .product_description{
            margin-top: 10px;
            .price{
                font-size: 15px;
                color: $heading_color;
            }
            .product_name{
                font-size: 16px;
                line-height: 1.75;
                margin-bottom: 0;
                a{
                    color: $heading_color;
                    &:hover{
                        color: $base_color_4;
                    }
                }
            }
        }
    }
}